<% flash.each do |type, msg| %>
  <div class="error-notice">
    <%= msg %>
  </div>
<% end %>



<h1>Sign Up</h1>
<%= form_for @user do |f|%>
  <div>
    <%= f.label :username%><br>
    <%= f.text_field :username%>
    <% @user.errors.full_messages_for(:username).each do |message| %>
      <div class = "error-notice"><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= f.label :password%><br>
    <%= f.password_field :password%>
    <% @user.errors.full_messages_for(:password).each do |message| %>
      <div class = "error-notice"><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<%end%>
