<h1>List of user accounts</h1>
<h2><%= render @user.accounts %></h2>

<p><%= link_to "Add account", user_accounts_path(@user) %></p>


<h2> Add an account </h2>
<%= form_with model: [@user, @user.accounts.build] do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :accountName %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>


<p><%= link_to "Sign out", :controller=> "sessions", :action=> "destroy" %></p>
