<%= form_with model: [@user, transaction] do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% transaction.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :date %><br>
    <%= form.date_select :tDate %>
    <% transaction.errors.full_messages_for(:tDate).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <p></p>

  <div>
    <%= form.radio_button :tType, 0 %>
    <%= form.label :expense, "Expense" %>

    <%= form.radio_button :tType, 1 %>
    <%= form.label :income, "Income" %>
    <% transaction.errors.full_messages_for(:tType).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :amount %><br>
    <%= form.number_field :amount, step: 0.01 %>
  </div>

  <div>
    <%# :include_blank => true, %>
    <%= form.label :account_id %><br>
    <%= form.select(:account_id, @user.accounts.collect { |a| [a.accountName, a.id] }, { :selected => form.object.account_id}) %>
  </div>

  <div>
    <% if @user.accounts.collect.count > 0 %>
      <%= form.submit class: "btn btn-default" %>
    <% else %>
      <p> Note: Please create a <%= link_to "New Account", new_user_account_path(@user, @accounts) %> first to start adding transactions! </p>
    <% end %>
  </div>
<% end %>
