<h1>Records</h1>

<%= form_tag(user_transactions_path, method: :get) do %>
  <p> Select Date Range [From - To] </p>
  <p><%= date_select(:fromDate, params[:fromDate], :default => Date.today, :end_year => Date.current.year) %></p>
  <p><%= date_select(:toDate, params[:toDate], :default => Date.today, :end_year => Date.current.year) %></p>
  <%= submit_tag ("Get Record") %>
<% end %>

<% if @fromD && @toD %>
  <h2> Record of transactions from <%= @fromD %> to <%= @toD %> </h2>
<% end %>

<div class="error-record">
  <% if @recordErr %>
    <h3> <%= @recordErr %> </h3>
  <% end %>
</div>

<table>
  <tr>
    <th>Date </th>
    <th>Name </th>
    <th>Amount </th>
    <th>Type </th>
    <th>Account </th>
  </tr>
  <% @transactions.each do |transaction| %>
    <tr>
      <td><%= transaction.tDate %></td>
      <td><%= link_to transaction.name, user_transaction_path(@user, transaction) %></td>
      <td><%= transaction.get_signed_amount %></td>
      <td><%= transaction.get_type %></td>
      <td><%= link_to transaction.account.accountName, user_account_path(@user, transaction.account.id) %></td>
    </tr>
  <% end %>
</table>
