<h1><%= @transaction.name %></h1>


<p>Transaction Type: <%= @transaction.get_type %></p>
<p>Transaction Amount: <%= @transaction.get_signed_amount %></p>
<p>Transaction Date: <%= @transaction.tDate %></p>
<p>Transaction Account: <%= Account.find(@transaction.account_id).accountName %></p>

<p><%= link_to "Edit Transaction", edit_user_transaction_path(@user, @transaction) %></p>
<p><%= link_to "Delete Transaction", user_transaction_path(@user, @transaction), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></p>



<p></p>
<%= link_to "Back to All Transactions", user_transactions_path(@user) %>
