<h1><%= @transaction.name %></h1>

<ul>
  <li>Transaction Type: <%= @transaction.get_type %></li>
  <li>Transaction Amount: <%= @transaction.get_signed_amount %></li>
  <li>Transaction Date: <%= @transaction.tDate %></li>
  <li>Transaction Account: <%= Account.find(@transaction.account_id).accountName %></li>
</ul>

<p><%= link_to "Edit Transaction", edit_user_transaction_path(@user, @transaction) %></p>
<p><%= link_to "Delete Transaction", user_transaction_path(@user, @transaction), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></p>



<p></p>
<%= link_to "Back to All Transactions", user_transactions_path(@user) %>
