<h1>Hello, User: <%= current_user.username %>!</h1>
<h2>Accounts</h2>

<ul>
  <% @accounts.each do |account| %>
    <li>
      <p><%= link_to account.accountName, user_account_path(@user, account) %>:
        <%= account.balance %> </p>
    </li>
  <% end %>
</ul>

<p><%= link_to "Create New Account", new_user_account_path(@user, @accounts) %></p>
<p><%= link_to "View Transactions", user_transactions_path(@user) %></p>
<p><%= link_to "Go back Home", user_path(@user) %></p>
